.projects-container {
  padding: 20px 0px;
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
  position: relative;
}

.projects-heading {
  font-size: 36px;
  margin-bottom: 10px;
  color: white;
  font-weight: 400;
  letter-spacing: 3px;
  text-align: center;
}

.projects-title {
  font-size: 20px;
  font-weight: 300;
  color: snow;
  border-bottom: 2px solid yellow;
  display: inline-block;
}

.projects-paragraph {
  font-size: 14px;
  color: snow;
  letter-spacing: 1px;
  font-family: 'Montserrat', sans-serif;
}

.projects-image {
  transform: scale(1);
  width: 300px;
  border-radius: 1rem;
  border: 2px solid yellow;
}

.single-project-container {
  display: flex;
  flex-direction: row;
  width: 90vw;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;
}

.projects-description {
  display: flex;
  flex-direction: column;
  height: 7rem;
  width: 40vw;
  justify-content: space-evenly;
  align-items: center;
}

/* Buttons styling */
.projects-live-button,
.projects-code-button {
  border: none;
  outline: none;
  margin: 3px;
  cursor: pointer;
}
a{
  text-decoration: none;
  color: black;
}

.projects-live-button {
  padding: 4px 12px;
  background-color: yellow;
  color: black;
  font-size: 12px;
  font-weight: 500;
  border-radius: 30px;
}

.projects-code-button {
  padding: 4px 12px;
  background-color: snow;
  color: black;
  font-size: 12px;
  font-weight: 500;
  border-radius: 30px;
}

.projects-code-button:hover {
  background-color: yellow;
}
.projects-code-button:hover + .projects-live-button {
  background-color: snow;
}

/* Media queries */
@media screen and (max-width: 730px) {
  .projects-image {
    transform: scale(0.9);
    width: 250px;
  }
}

@media screen and (max-width: 630px) {
  .single-project-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px 0px;
  }
  .projects-description {
    width: 90vw;
    text-align: center;
  }
}

@media screen and (max-width: 320px) {
  .projects-ball {
    animation: none;
    display: none;
  }
}

/* Animations here */
.projects-ball {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: yellow;
  top: -10px;
  left: 0px;
  border-radius: 50%;
  animation: project-ball 10s infinite;
}

@keyframes project-ball {
  0% {
    top: -10px;
    left: 10%;
  }
  50% {
    top: -10px;
    left: 90vw;
  }
  100% {
    top: -10px;
    left: 10%;
  }
}
